
/** media query styles for mobile **/
@media screen and (max-width: 600px) {
    body {
        background-image: url(images/galaxy.jpg);
        background-position: 50%;
        width: 100%;
        background-repeat: repeat;
    }
}