body {
    background-color: black;
}

.bi-heart {
    font-size: 2rem;
}

/** media query styles for mobile **
@media screen and (max-width: 600px) {
    body {
        background-image: url(images/galaxy-mobile.jpg);
        background-repeat: repeat;
    }
}