body {
    background-color: black;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.bi-heart {
    font-size: 2rem;
}

h1, h3 {
    font-family: 'Trispace', sans-serif;
    font-weight: 600;
}

p, h5 {
    font-family: 'Trispace', sans-serif;
    font-weight: 500;
}

button, input {
    font-family: 'Trispace', sans-serif !important;
    font-weight: 600 !important;
}

/** media query styles for mobile **/
@media screen and (max-width: 600px) {
    .apod-search-bg {
        height: 80vh;
        background-image: url(images/galaxy-mobile.jpg);
        background-size: cover;
    }

    .generated-content-bg {
        background-image: url(images/galaxy-mobile.jpg);
        background-size: cover contain;
        background-repeat: no-repeat;
    }

    .apod-container {
        padding-top: 17rem;
    }
}